# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

## Some of the popular languages of data Scientists use are:

* 1. Python
* 2. SQL
* 3. R
* 4. C++
* 5. Java

# Some of the commonly used libraries used by Data Scientist include:
    
    * 1. Numpy
    * 2. Pandas
    * 3. SciPy
    * 4. Matplotlib
    * 5. TensorFlow

# Data Science Tools

* 1. Jupyter Notebook
* 2. R Studio's
* 3. Zeppelin Notebooks

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
print ("This a simple arithmetic expression to multiply then add intergers")

(3*4)+5

This a simple arithmetic expression to multiply then add intergers

17

In [34]:
print ("This will convert 200 minutes too hours by dividing by 60")

(200/60)

This will convert 200 minutes too hours by dividing by 60

3.3333333333333335

# _Objectives:_

* SQL
* Julia
* Java
* C++
* R

## Author
# Joseph Gamboa